/*Webフォント*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
*{
 font-family: 'Noto Sans Japanese', sans-serif;
    /*font-weight: 100;*/
    font-weight: 200;
    /*font-weight: 300;*/
    /*font-weight: 400;*/
    /*font-weight: 500;*/
    /*font-weight: 600;*/
    /*font-weight: 700;*/
    /*font-weight: 800;*/
    /*font-weight: 900;*/
 }
html {
    background-color: #222;
}

body {
    /*background-image: url("img/player_1.png");*/
    background-color: #ddd;
    /*margin-bottom: 200px;*/
    /*padding-bottom: 200px;*/
}



#submit_button {
    font-size:0.5em;
    border-style: none;
}

.tweet-form{
    padding: 1px 2px;
    float:left;
    border: solid 2px #C78E3A;
    border-radius: 3px;
}

.spacer20{
    height: 20px;
}

.counter{
    font-size:8em;
    color:#31708F;
}
.counter-sub{
    font-size:0.2em;
    color:#31708F;
}
.speach{
    
}

.idea-area{
    min-height: 200px;
}
.footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #222;
}
.footer *{
    color:#888;
}
/*以下Recomenの残りかす*/



#top-logo {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reco-pl-wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #CCC;
}


.margin-btm40 {
    margin-bottom: 40px;
}

.margin-btm20 {
    margin-bottom: 20px;
}